@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*{
    font-family: 'Poppins', sans-serif;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}

.hey{
    font-size: 50px;
    font-weight: 600;
}

.name{
    font-size: 60px;
    font-weight: 700;
    
}
@media (max-width: 767px){
    .hey{
        font-size: 80px;
        font-weight: 600;  
    }
    
    .name{
        font-size: 60px;
        font-weight: 700;
        
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .hey{
        font-size: 110px;
        font-weight: 600;
    }
    .name{
        font-size: 65px;
        font-weight: 700;
        
    }
}

.skill-item{
    padding-bottom: 10px;
}

/* dark theme & light theme */

#light {
  background-color: white;
}

#dark{
  background-color: black;
}

/* switch */
#dark .switch {
  color: white;
}
.switch{
  margin-top: 10px;
  position: fixed;
  font-weight: 600;
}

/* Project */
#dark .card{
  background-color: #282424;
}
#dark .card-title {
  color: white;
}
#dark .prj-btn{
  background-color:#e50914;
  color: white;
}
#dark .row{
  color: white;
}
#dark .head {
  color: rgb(255, 255, 255)
}
#dark .icon{
  color: white;
}

/* Bio */
#dark .bio{
  background-color: #333333;
}
#light .bio{
  background-color: #f7f3f3;
}

#light .navbar {
  background-color: black;
}
#dark .navbar {
  background-color:#e50914;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-moon {color: #fffefb;}
.fa-sun {color: #ffffff;}
.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
